
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Case</title>
</head>
<body>
    <form action="~/Endpoint" method="post">
        總成名稱：<input name="Name" type="text" value="" /><br />
        欄位1：<input name="Data[0]" type="text" value="" /><br />
        欄位2：<input name="Data[1]" type="text" value="" /><br />
        欄位3：<input name="Data[2]" type="text" value="" /><br />
        <p>
            不止可以三個欄位，可以無限多個，本範例只寫三個是示範一下而已~~
        </p>
        <input type="submit" value="Send" />
    </form>
</body>
</html>
