
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">修改密碼</h4>
        <ol class="breadcrumb">
            <li>
                根目錄
            </li>
            <li class="active">
                修改密碼
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>修改密碼</b></h4>
            <hr />
            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtPassword0" class="col-sm-3 control-label">舊密碼</label>
                            <div class="col-sm-9">
                                <input id="txtPassword0" type="password" class="form-control" placeholder="舊密碼" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtPassword1" class="col-sm-3 control-label">新密碼</label>
                            <div class="col-sm-9">
                                <input id="txtPassword1" type="password" class="form-control" placeholder="密碼" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtPassword2" class="col-sm-3 control-label">再輸入一次新密碼</label>
                            <div class="col-sm-9">
                                <input id="txtPassword2" type="password" class="form-control" placeholder="再輸入一次新密碼" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <hr />
                <div class="form-group m-b-0">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button id="btnSave" type="button" class="btn btn-default waves-effect waves-light">確定</button>
                        <button id="btnCancel" type="button" class="btn btn-default waves-effect waves-light">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section PageBottom{

<script>
        var app = function () {
            return {
                init: function () {
                    $('#btnSave').click(app.save);
                    $('#btnCancel').click(app.cancel);
                },
                save: function () {

                    layout.block();

                    if ($('#txtPassword1').val() != $('#txtPassword2').val()) {
                        alert('新密碼前後輸入不一致！');
                        layout.unblock();
                    }
                    else {

                        var obj = {
                            oldPwd: $('#txtPassword0').val(),
                            newPwd: $('#txtPassword1').val()
                        };

                        $.ajax({
                            url: '@Url.Action("ChangePassword", "Authorization")',
                            data: obj,
                            type: 'POST',
                            dataType: 'json',
                            success: function (data) {
                                if (data.success == true) {
                                    alert('成功！');
                                    window.location.href = '@Url.Action("Index", "Default")';
                                }
                                else {
                                    alert('錯誤!(' + data.msg + ')');
                                    layout.unblock();
                                }

                            }
                        });

                    }

                },
                cancel: function () {
                    if (confirm('確定離開？')) {
                        window.location.href = '@Url.Action("Index", "Default")';
                    }
                }
            }
        }();

        $(document).ready(app.init);
</script>

}

