@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">帳號管理</h4>
        <ol class="breadcrumb">
            <li>
                根目錄
            </li>
            <li>
                權限管理
            </li>
            <li class="active">
                帳號管理
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>搜尋條件</b></h4>
            <hr />
            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtName" class="col-sm-3 control-label">帳號</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txtName" placeholder="帳號">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <hr />
                <div class="form-group m-b-0">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button id="btnSearch" type="button" class="btn btn-default waves-effect waves-light">搜尋</button>
                        <button id="btnCancel" type="button" class="btn btn-default waves-effect waves-light">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>資料列表</b></h4>
            <hr />
            <table id="oTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>流水號</th>
                        <th>帳號名稱</th>
                        <th style="width:150px;"><a onClick="app.create()" style="cursor:pointer;margin-bottom:0px;" class="btn btn-primary">新增</a></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section PageBottom{

    <!-- DataTables -->
    <link href="~/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/assets/plugins/datatables/DataTables-1.10.16/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/DataTables-1.10.16/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/plugins/datatables/TableDefine.js"></script>

    <script>

        var app = function () {

            var ot = new SDTableObj();

            function search() {

                var oTable = $('#oTable');

                var oTableOption = {
                    "ajax": {
                        "url": "@Url.Action("Index", "Manager")",
                        "type": "POST",
                        "data": function (d) {
                            d.Name = $('#txtName').val();
                        }
                    },
                    "columnDefs": [
                        {
                            "targets": 0,
                            "data": "id"
                        },
                        {
                            "targets": 1,
                            "data": "name"
                        },
                        {
                            "targets": 2,
                            "data": "id",
                            "orderable": false,
                            "render": function (data, type, row, meta) {

                                var result = '';
                                var btnEdit = '<a onClick="app.detail(' + data + ')" style="cursor:pointer;margin-bottom:0px;" class="btn btn-primary">編輯</a>';
                                var btnDel = '&nbsp;&nbsp;<a onClick="app.del(' + data + ')"  style="cursor:pointer;margin-bottom:0px;" class="btn btn-danger">刪除</a>';

                                if (row.name == 'Admin') {
                                    result = btnEdit;
                                }
                                else {
                                    result = btnEdit + btnDel;
                                }

                                return result;
                            }
                        }

                    ]
                };

                ot.search(oTable, oTableOption);
            }

            return {
                init: function () {

                    $('#btnSearch').click(app.search);
                    $('#btnCancel').click(app.cancel);

                    search();
                },
                cancel: function () {

                    $('#txtName').val('');
                    search();

                },
                search: function () {
                    search();
                },
                create: function () {
                    window.location.href = '@Url.Action("Create", "Manager")';
                },
                detail: function (id) {
                    window.location.href = '@Url.Action("Edit", "Manager")' + '/' + id;
                },
                del: function (id) {

                    if (confirm('確定刪除？')) {

                        $.ajax({
                            url: '@Url.Action("Manager", "Manager")',
                            data: { id: id },
                            dataType: 'json',
                            type: 'Delete',
                            success: function (data) {
                                if (data.success == true) {
                                    alert('成功！');
                                    search();
                                }
                                else {
                                    alert('失敗！' + data.msg);
                                }
                            }
                        });

                    }
                }
            }
        }();

        $(document).ready(app.init);
    </script>
}

