
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">首頁</h4>
        <ol class="breadcrumb">
            <li>
                根目錄
            </li>
            <li class="active">
                首頁
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box" style="height:500px;">
            <b>您好！歡迎回來~~</b>
        </div>
    </div>
</div>