
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .AgriContent {
        font-size: 16px;
    }

        .AgriContent > p {
            margin-top: 14px;
        }

        .AgriContent > h4 {
            margin-top: 14px;
        }
</style>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">首頁</h4>
        <ol class="breadcrumb">
            <li>
                根目錄
            </li>
            <li class="active">
                首頁
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h2><b>認識阿龜微氣候</b></h2>
            <div class="row">
                <div class="col-md-12"> <img class="img-thumbnail" src="~/assets/images/Agri.jpg" /></div>
            </div>
            <div class="row">
                <div class="col-md-12 AgriContent">
                    <p>
                        因應全球氣候變遷，農業應有相應措施，藉科學方法蒐集農業資料，透過資料分析提供協助、提升作物質量的農務建議，已是全球趨勢。我們認為，應用數據和資料科學能夠幫助農民做出更明智的決策、提高作物產量並幫助他們更有效地利用資源。「阿龜微氣候」以農業資料分析為核心，然而，沒有資料，遑論分析應用。因此，我們從資料源頭做起，整合物聯網與資料科學技術，打造結合軟硬體與資料分析的完整農業微氣候解決方案。
                    </p>
                    <p>
                        「阿龜微氣候」成員橫跨軟硬體工程、資料分析、農業研究、植物病蟲害、視覺設計以及傳播溝通，結合跨領域專業，我們能夠掌握農業核心問題，理解真實需求，針對需求者的實際狀況發展合適的解決方案。
                    </p>
                    <h4><b>服務項目</b></h4>
                    <p>「阿龜微氣候」提供之服務可分為「田間微氣候感測方案」、「農務記錄APP」與「農業數據分析應用」三大面向。</p>
                    <h4><b>田間微氣候感測方案</b></h4>
                    <p>包括「在地氣象站」、「田間感測器」、「即時無線傳輸設備」、「數據基地台」、「雲端伺服器」、「即時監控儀表板」等在地物聯感測機構的整體「布建與安裝」。</p>
                    <p>「在地氣象站」可蒐集日照強度、大氣溫濕度、風向、風速、雨量、大氣壓力、紫外線等；「田間感測器」則可蒐集土壤溫溼度以及電導度。透過遠端無線傳輸技術資料回傳後，我們根據農民實際需求將資料視覺化，設計可即時監控數據的儀表板。此「即時監控儀表板」可於手機、平板電腦以及桌上型電腦操作，並能選擇作物別以及田地的不同，即時轉換呈現之資訊。藉此，農友便可在家中遠端即時監控農地環境，不僅省去農友巡田以及查找多個資訊平台所需耗費的時間、更可透過對照田間數據與其長期累積的農業知識，調整農務行為決策。</p>
                    <h4><b>農務紀錄APP—「阿龜誌」</b></h4>
                    <p>過去農友多以紙筆進行農務紀錄，但當農友希望能夠透過新科技進行數位化的農務紀錄，經常碰到「易用性」以及「適用性」的問題。我們理解，過於複雜的操作介面或是不符合農友實際使用情境的操作程序將降低農友的使用意願，因此，「阿龜微氣候」根據農友們的使用習慣，選擇合適的裝置、設計簡單易用的介面，開發農務紀錄APP—「阿龜誌」。</p>
                    <p>「阿龜誌」不僅用選單的方式幫助農友輕易完成紀錄，還能簡易快速地上傳作物照片與資訊至您的臉書。農友只需要選擇最為貼近其農務施作狀況的選項，即可完成紀錄，紀錄類型包含田間操作行為、照片、作物生長指標等。更重要的是，此些紀錄下來的資料不僅能夠提供農友長期檢視，更能搭配田間微氣候資料，在分析過程中扮演關鍵角色，建立植物生長模型、逆境模式等，提供農務建議，幫助農友降低成本、提高產量。</p>
                    <h4><b>農業數據分析應用</b></h4>
                    <p>結合田間氣象數據以及農民日常農務施作資料，我們將數據與專家知識整合，發展各種「農業數據分析應用」，解決農業存在的各類痛點，如灌溉、施肥、噴灑農藥或病蟲害等，協助其行為決策。</p>
                    <p>舉例而言，我們可藉由「水逆境分析」提供灌溉建議、透過「作物生長重量分析」協助預估產量、並分析各種病蟲害易產卵孵化的「微氣候模型」，發展病蟲害警示進而減少農損，或是建立作物生長標準，產出微氣候分析報告提供高溫、凍害、降雨、鹽分等各項風險預警。最終達到生長預測、病蟲警示、減少用藥、精準施肥等四大目標，進而降低成本、提高品質、增加產量，發展永續經營的農業模式。</p>
                </div>
            </div>
        </div>
    </div>
</div>